<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Spawner.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Spawner.Properties.Settings>
      <setting name="ExecutablePath" serializeAs="String">
        <value>DarkRift.Server.Console.exe</value>
      </setting>
      <setting name="ConfigPath" serializeAs="String">
        <value>WorldServer.config</value>
      </setting>
      <setting name="MasterIpAddress" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="MasterPort" serializeAs="String">
        <value>60125</value>
      </setting>
      <setting name="Region" serializeAs="String">
        <value>EU</value>
      </setting>
      <setting name="AutoStartSpawner" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SpawnerIpAddress" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
      <setting name="SpawnerStartPort" serializeAs="String">
        <value>20000</value>
      </setting>
      <setting name="MaxProcesses" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="UseShellExecute" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CreateRoomWindow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseMono" serializeAs="String">
        <value>False</value>
      </setting>
    </Spawner.Properties.Settings>
  </applicationSettings>
</configuration>